# List

- Lists are ordered, mutable collections of items.
- They can contain items of different data types.
- these are iterable

In [1]:
list1 = []
print(type(list1))

<class 'list'>

In [2]:
list1 = ["lmao",1,2.0,True]
print(list1)

['lmao', 1, 2.0, True]

In [3]:
# convert any data structure into list

a = {1,2,3,4,5}  # set
print(list(a))

[1, 2, 3, 4, 5]

In [4]:
# ACCESSING SINGLE ELEMENT $ INDEXING

list1 = ["lmao",1,2.0,True]

print(list1[0])     # first element from start
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[-1])   # first element from last
print(list1[-2])
print(list1[-3])
print(list1[-4])

lmao
1
2.0
True
True
2.0
1
lmao

In [5]:
# Modifying elements 


list1 = ["lmao",1,2.0,True]

list1[0] = "Allu Arjun"
list1[3] = "Sulmun khun"

print(list1)


list1[1:] = "baka"  # it'll take given string word by word and place it as instructed
print(list1)        # it'll take only iterable data ex: String, it wont take int,float,bool

['Allu Arjun', 1, 2.0, 'Sulmun khun']
['Allu Arjun', 'b', 'a', 'k', 'a']

#### METHODS

In [6]:
fruits = ["apple","banana","mango","kiwi","pookie","pookie"]

In [7]:
# .append(element) : it adds the given element at the last index of list

fruits.append("po")
fruits

['apple', 'banana', 'mango', 'kiwi', 'pookie', 'pookie', 'po']

In [8]:
# .insert(index,element) : inserts given element at given index

fruits.insert(1,"sun")
fruits

['apple', 'sun', 'banana', 'mango', 'kiwi', 'pookie', 'pookie', 'po']

In [9]:
# .remove(element)  : removes the first occurance of the given element 

fruits.remove("pookie")
fruits

['apple', 'sun', 'banana', 'mango', 'kiwi', 'pookie', 'po']

In [10]:
# .pop(index) : removes and returns the element at given index (if index not given, default = last (-1)) 

print(fruits.pop())
print(fruits.pop(0))

print(fruits)

po
apple
['sun', 'banana', 'mango', 'kiwi', 'pookie']

In [11]:
# .index(elemet,start index,stop index) : tell the index of given element (first occourance), searches it from start to stop, it not given, default = all

fruits = ["apple","banana","pookie","mango","kiwi","pookie"]

print(fruits.index("pookie"))
print(fruits.index("pookie",3))

2
5

In [12]:
# .count(element)  : return the number of time given element is there in list 

fruits.count("pookie")

2

In [13]:
# .sort() : arranges the elements of list in - alphabetical order or descending order

fruits.sort()
print(fruits)

['apple', 'banana', 'kiwi', 'mango', 'pookie', 'pookie']

In [29]:
# sorted() : another way of sorting but better 
fruits = ['banana','apple','gyatt']
sorted(fruits)   

# note : .sort method mutate the original list while sorted() function givees a new sorted list

['apple', 'banana', 'gyatt']

In [15]:
# .reverse():  reverses indeces of all elements in list

fruits.reverse()
fruits

['pookie', 'pookie', 'mango', 'kiwi', 'banana', 'apple']

In [16]:
# .clear : removes all elements from list

fruits.clear()
fruits

[]

LIST SLICING

syntax : 
        list_name[start:stop:step]

In [17]:
numbers = [0,1,2,3,4,5,6,7,8,9,10]

print(numbers[::])      # all elements 
print(numbers[0:11:1])  # from 0th to 10th with step = 1

print(numbers[::-1])    # all elements with step = -1 (hence, from last to zeroth)
print(numbers[::2])     # all elements with step = 2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 2, 4, 6, 8, 10]

CONCATENATION

In [4]:
# addition of list 

list1 = ["abc",1,2,3]
list2 = ['lmao',True]


list1 + list2

['abc', 1, 2, 3, 'lmao', True]

In [8]:
# multiplication

list1 * 3

['abc', 1, 2, 3, 'abc', 1, 2, 3, 'abc', 1, 2, 3]

ITERATION OF LIST

In [18]:
fruits = ["apple","banana","mango","kiwi","po"]

for fruit in fruits:
    print(fruit)

apple
banana
mango
kiwi
po

In [19]:
# iterating elements with index

for index,fruit in enumerate(fruits):
    print(index,":",fruit)

0 : apple
1 : banana
2 : mango
3 : kiwi
4 : po

In [20]:
# nested lists 

list_a = [[1,2,3,4],['a','b','c','d'],[True,False]]

print(list_a[0])         # will print 0th element of list
print(list_a[0][2])      # will print 2nd element of 0th list inside list
print(list_a[0][0:2])    # will print 0th to 2nd element of 0th list

[1, 2, 3, 4]
3
[1, 2]

#### List comprehension 

creating list in a single line of code

SYNTAX : 

        [expression iteration condition] ----- [expression for n in iteration if condition]

for nested lists : 

        [expression iteration_of_list1 iteration_of_list2 condition]

In [21]:
# example1 :
list1 = []

for i in range(11) : 
    list1.append(i*2)

list1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [22]:
# example1 with list comprehension :

list1 = [i*2 for i in range(11)]
list1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [23]:
# example2 :

list2 = []

for i in range(21):
    if i%2==0 :
        list2.append(i*2)

list2

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [24]:
# example 2 with list comprehension :

list2 = [i*2 for i in range(21) if i%2==0]
list2

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [25]:
# example3 : nested list(multiple list creation) 

list3 = []

for i in range(5):
    for j in range(5):
        if i%2==0 and j%2==0:
            list3.append([i,j])

list3

[[0, 0], [0, 2], [0, 4], [2, 0], [2, 2], [2, 4], [4, 0], [4, 2], [4, 4]]

In [26]:
# example3 with nested list(multiple list creation) comprehension

list3 = [[i,j] for i in range(5) for j in range(5) if i%2==0 if j%2==0]
print(list3,end=" ")

[[0, 0], [0, 2], [0, 4], [2, 0], [2, 2], [2, 4], [4, 0], [4, 2], [4, 4]]

## LIST REAL LIFE EXAMPLES

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [1]:
nestlis = [
    [1,2,3,4],
    [5,6,7,8]    
]

transpose = [
    [0,0],
    [0,0],
    [0,0],
    [0,0]
]
for i in range(len(nestlis)):
    for j in range(len(nestlis[0])):
        transpose[j][i] = nestlis[i][j]
print("Matrix")
for i in nestlis:
    print(i)
print("Transpose matrix")
for i in transpose:
    print(i)

Matrix
[1, 2, 3, 4]
[5, 6, 7, 8]
Transpose matrix
[1, 5]
[2, 6]
[3, 7]
[4, 8]

In [2]:
transposed = [[nestlis[j][i] for j in range(len(nestlis))] for i in range(len(nestlis[0]))]
for i in transposed:
    print(i)

[1, 5]
[2, 6]
[3, 7]
[4, 8]

In [3]:
print("Matrix")
for i in nestlis:
    print(i)

print("Transposed")
for i in zip(*nestlis):
    print(list(i))

Matrix
[1, 2, 3, 4]
[5, 6, 7, 8]
Transposed
[1, 5]
[2, 6]
[3, 7]
[4, 8]